@import url("../fonts/fonts.css");
html,body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Euclid Circular A', Arial, Helvetica, sans-serif;
}


s{
    text-decoration: none;
}

.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.space-200{
    width: 100%;
    height: 200px;
}
.nav-logo{
    display: flex;
    align-items: center;
    width: 112px;
}

.nav-logo img{
    width: 100%;
}

nav{
    width: 100vw;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 10vw;
    z-index: 50;
    top: 0;
}

.nav-menu{
    margin-left: auto;
}

.nav-menu ul{
    display: flex;
    list-style-type: none;
}
.nav-menu ul li{
    margin: 10px 30px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

nav .cta{
    background: #0066FF!important;
    border-radius: 31px;
    padding: 12px 50px;
    color: white;
    font-size: 20px;
}




.ham-menu{
    display: none;
    width: 40px;
    height: 100%;
}

.ham-menu img{
    width: 100%;
    height: 100%;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: calc(100vh - calc(100vh - 100%));
    background-color: #0066FF;
    z-index: 100!important;
    padding: 20px 20px 10% 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar-head{
    display: flex;
    justify-content: space-between;
}

.sidebar-head img{
    cursor: pointer;
}

.sidebar-nav-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.sidebar-nav-container ul li{
    list-style: none;
    text-align: right;
    border-bottom: solid 1px white;
    padding: 12px 0px;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: white;
    cursor: pointer;

}

.sidebar-social-icons{
    color: white;
}

.sidebar-social-icons-list{
    display: flex;
    align-items: flex-end;
}

.sidebar-social-icons-list svg{
    margin-right: 20px;
    cursor: pointer;
}

.allprojects-intro{
    display: flex;
    justify-content: center;
}
.allprojects-intro h1{
    font-feature-settings: 'kern' off;
    color: #000000;
    width: 80%;
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    text-align: center;
    line-height: 70px;
}

.allworks-mobile{
    display: none;
}

.allworks{
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.allworks h1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}
.allworks-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 137px;
    align-items: flex-end;
}
.square-image{
    width: 350px;
    max-width: 45;
    margin-bottom: 80px;
}
.rectangle-image{
    width: 541px;
    max-width: 45%;

}
.square-image img, .rectangle-image img{
    width: 100%;
}


@media screen and (min-width: 1920px){
   .container{
       max-width: 1920px;
   }
   
   
}


@media screen and (max-width: 1300px){
    
}

@media screen and (max-width: 900px){
    

   
}

@media screen and (max-width: 880px) {
    .rectangle-image,.square-image{
        /* width: 500px; */
        max-width: 40%;
    }
}

@media screen and (max-width: 820px){
   
}



@media screen and (max-width: 769px) {
    
    /* .about-section h1{
        font-size: 20px;
        line-height: 27px;
    
    } */
    
    
    
}

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 550px) {
    
   
    .allworks{
        display: none;
    }
    .allworks-mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        /* background-color: #0066FF; */
    }
    .square-image,.rectangle-image{
        margin-bottom: 50px;
        width: 80%!important;
        max-width: 80%!important;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media screen and (max-width: 481px) {
    
   
}


@media screen and (max-width: 320px) {


}

