/* ///////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////// */
/* ABOUT US PAGE*/

@import url("../fonts/fonts.css");
html,body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Euclid Circular A', Arial, Helvetica, sans-serif;
}


s{
    text-decoration: none;
}

.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}





.ham-menu{
    display: none;
    width: 40px;
    height: 100%;
}

.ham-menu img{
    width: 100%;
    height: 100%;
}


/* /////////////////////////\\\\\\\\\\\\\\\\\\\ */

.section-1{
    height: 80vh;
    max-height: 800px;
    /* background-color: aqua; */
    display: flex;
    justify-items: center;
    padding-top: 200px;
    padding-left: 90px;

    flex-direction: column;
}

.section-1 h1{
    font-family: Euclid Circular A;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #0066FF;

}

.let-work-together{
    overflow: hidden;

    /* background-color: #0066FF; */
}


.let-work-together h1{
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 300;
    font-size: 118px!important;
    line-height: 150px!important;
    color: #000000!important;
    position: relative;
    white-space: nowrap;
    right: -10%;

}
/* ////////////////////////\\\\\\\\\\\\\\\\\ */
/*                  FOOTER                   */



@media screen and (min-width: 1920px){
    .container{
        max-width: 1920px;
    }
    
 }
 

@media screen and (max-width: 1300px){
    
}

@media screen and (max-width: 900px){

    
    /*  */
    .let-work-together h1{
        font-size: 80px!important;
    }
}

@media screen and (max-width: 820px){
    
    .section-1 h1{
        font-family: Euclid Circular A;
        font-size: 4.5vw;
        font-style: normal;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #0066FF;
    
    }
}



@media screen and (max-width: 769px) {
    
    
    .ham-menu{
        display: unset;
    }
    .about-heading-section h1{
        font-size: 8vw;

    }
    .about-section p{
        font-size: 4vw;
        line-height: 5vw;
    }

    
}

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 550px) {
    
    .section-1{
        margin: 0;
        padding-top: 150px;
        padding-left: 40px;
    }
    .section-1 h1{
        font-size: 25px;

    }
    .let-work-together h1{
        font-size: 60px!important;
    }
}

@media screen and (max-width: 481px) {

    
    
}



@media screen and (max-width: 320px) {
    

}

