@import url("../fonts/fonts.css");
html,body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Euclid Circular A', Arial, Helvetica, sans-serif;
}


s{
    text-decoration: none;
}

.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo{
    display: flex;
    align-items: center;
    width: 112px;
}

.nav-logo img{
    width: 100%;
}

nav{
    width: 100vw;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 50px;
    z-index: 50;
}

.nav-menu{
    margin-left: auto;
}

.nav-menu ul{
    display: flex;
    list-style-type: none;
}
.nav-menu ul li{
    margin: 10px 30px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

nav .cta{
    background: #0066FF!important;
    border-radius: 31px;
    padding: 12px 50px;
    color: white;
    font-size: 20px;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 60px;
}

.hero-text{
    max-width: 600px;
    margin-left: -200px;
    z-index: 2;

}

.hero-text h1{
    color: #0066FF;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
}

.hero-image{
    width: 500px;
    overflow: hidden;
}

.hero-image img{
    max-width: 100%;
    max-height: 100%;
    animation: logo-spin 25s infinite linear;

}

.about-section{
    box-sizing: border-box;
    width: 100%;
    /* padding: 60px;
    margin: 0; */
    padding: 50px;
}

.about-section h1{
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    line-height: 44px;
    padding: 20px;
    /* background-color: rgb(37, 37, 22); */

}

@keyframes logo-spin{
    from {
        transform: rotate(0deg);
        z-index: 1;
    }
    to{
        transform: rotate(360deg);
        z-index: 1;
    }
}

.ham-menu{
    display: none;
    width: 40px;
    height: 100%;
}

.ham-menu img{
    width: 100%;
    height: 100%;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: calc(100vh - calc(100vh - 100%));
    background-color: #0066FF;
    z-index: 100!important;
    padding: 20px 20px 10% 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar-head{
    display: flex;
    justify-content: space-between;
}

.sidebar-head img{
    cursor: pointer;
}

.sidebar-nav-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.sidebar-nav-container ul li{
    list-style: none;
    text-align: right;
    border-bottom: solid 1px white;
    padding: 12px 0px;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: white;
    cursor: pointer;

}

.sidebar-social-icons{
    color: white;
}

.sidebar-social-icons-list{
    display: flex;
    align-items: flex-end;
}

.sidebar-social-icons-list svg{
    margin-right: 20px;
    cursor: pointer;
}



/* ////////////\\\\\\\\\\\\\\\\ */
/*      Masonery grid            */
.works-title{
    /* background-color: #0066FF; */
    text-align: right;
    padding: 10px;
    margin-right: 50px;
}
.masonry-wrapper {
    padding: 1.5em;
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: #0066FF; */
    box-sizing: border-box;
  }
  .masonry {
    columns: 2;
    column-gap: 200px;
    /* background-color: bisque; */
    width: 100%;
    box-sizing: border-box;
    margin-left: -10%;
    /* transform: translate(-50%); */
  }
  .masonry-item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    /* background-color: rgb(207, 131, 37); */
  }
  .masonry-item img {
        width: 150%;
        cursor: pointer;
    }
  .masonry-item:nth-child(odd){
      /* background-color: blue; */
      margin-top: 50px;
      margin-bottom: 150px;
    }
  .masonry-item:nth-child(even){
    /* background-color: red; */
    margin-top: 250px;
    margin-top: 50px;
}

.see-all-cta{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: flex-end;
    padding-right: 20%;
}

.see-all-cta img{
    width: 40px;
    margin: 10px;
}




@media screen and (max-width: 900px){
    .hero-text h1{
        font-size: 28px;
    }
    .hero-text{
        max-width: 400px;
    }
    .about-section {
        max-width: 100vw;
        padding: 10px;
    }
    .about-section h1{
        font-size: 24px;
        line-height: 31px;
    
    }
    .masonry {
        columns: 1;
        column-gap: 150px;
        margin-left: 0%;

    }
    .masonry-item{
        width: 100%;
        margin: 20px 0 0 0!important;
    }
    .masonry-item img {
        width: 100%;
        
    }
    .see-all-cta{
        justify-content: center;
        padding-right: 0;
    }
}


@media screen and (max-width: 769px) {
    
    .about-section h1{
        font-size: 20px;
        line-height: 27px;
    
    }
    nav{
        padding: 20px 50px;
    }
    .nav-menu{
        display: none;
    }
    .ham-menu{
        display: unset;
    }
    
}

@media screen and (max-width: 640px) {
    .hero-section{
        flex-direction: column;
    }
    .hero-text{
        margin-left: 0;
        padding: 20px;
        max-width: 80%;
        margin-bottom: 30px;
    }
    .hero-image{
        width: 350px;
    }

    .hero-image img{
        max-width: 100%;
        max-height: 100%;
    }
    .about-section h1{
        font-size: 18px;
        line-height: 24px;
    
    }
    
}

@media screen and (max-width: 550px) {
    .hero-text{
        padding: 30px;

    }
    .hero-text h1{
        font-size: 25px;
    }
    .about-section h1{
        font-size: 16px;
        line-height: 22px;
    
    }
    
}

@media screen and (max-width: 481px) {
    .hero-image{
        width: 280px;
    }

    .hero-text h1{
        font-size: 20px;
    }

    .hero-text{
        margin: 20px;
        max-width: 90%;
        padding: 30px;
        margin: 0;
    }
        
}

@media screen and (max-width: 320px) {
    .hero-text h1{
        font-size: 18px;
    }

        

}

